@model My_Task1.Models.Billing
@{
    ViewBag.Title = "Edit";
}

<div class="container">
    <h2>Edit Billing</h2>

    @using (Html.BeginForm("EditBilling", "Billing", FormMethod.Post, new { @class = "billing-form", @id = "editBillingForm" }))
    {
        @Html.HiddenFor(m => m.BillingID)

        <div class="form-group">
            @Html.LabelFor(m => m.CustomerID, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.CustomerID, (SelectList)ViewBag.Customers, "Select a customer", new { @class = "form-control", @id = "customerID" })
            <span id="customerID-error" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BillingDate)
            @Html.TextBoxFor(m => m.BillingDate, new { @class = "form-control", @id = "billingDate", placeholder = "Choose Date", type = "date" })
            <span id="date-error" class="text-danger"></span>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.TotalAmount, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.TotalAmount, new { @class = "form-control", @id = "totalAmount", placeholder = "Enter total amount" })
            <span id="totalAmount-error" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    }
</div>

<script>document.getElementById('editBillingForm').addEventListener('submit', function(event) {
        let isValid = true;

       
        document.getElementById('customerID-error').textContent = '';
        document.getElementById('totalAmount-error').textContent = '';
        document.getElementById('date-error').textContent = '';

        
        const customerID = document.getElementById('customerID').value;
        if (customerID === '' || customerID === 'Select a customer') {
            document.getElementById('customerID-error').textContent = 'Please select a customer';
            isValid = false;
        }

        const BillingDate = document.getElementById('billingDate').value;
        if (BillingDate === '' || BillingDate === 'Choose Date') {
        document.getElementById('date-error').textContent = 'Please Choose Date';
        isValid = false;
        }
        
        const totalAmount = document.getElementById('totalAmount').value;
        if (totalAmount.trim() === '') {
            document.getElementById('totalAmount-error').textContent = 'Total amount is required';
            isValid = false;
        } else if (isNaN(totalAmount) || totalAmount <= 0) {
            document.getElementById('totalAmount-error').textContent = 'Enter a valid amount';
            isValid = false;
        }

        
        if (!isValid) {
            event.preventDefault();
        }
    });</script>